<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h1>
            Hello <%= current_user.email %>!
          </h1>
          <p>
          The cost of debt calculator is a wonderfully helpful on-line tool that can help you find your total personal interest rate. Many of us have a variety of debts, each with its own terms and conditions. One of the most important conditions on these debt instruments is the interest rate. These interest rates can vary widely both overtime and loan type. For example, a mortgage is a collateral backed loan and will typically have the some of the lowest interest rates. On the other hand, a credit card is a limited amount of spending power that is not backed by any collateral and can be used at any time and in any place. Hence, the user will pay a much higher interest rate for these benefits.
          </p>
        </div>
        <div class="col-md-offset-1 col-md-4">
                <%= @monthlyPayments %>
        </div>
        <div class="col-md-offset-2 col-md-4"> <%= @totalInterest %> </div>
        <div class="col-md-offset-1 col-md-4">4</div>
        <div class="col-md-offset-2 col-md-4"> <%=@ftdebts%> </div>
        <div class="col-xs-12">6</div>
    </div>
</div>
