<div class="container">
    <div class="row">
        <div class="col-xs-12">Top Bar Full Scale Across</div>
        <div class="col-md-offset-1 col-md-4">
            <!-- <% @ftdebts.each do |ftdebt| %>
              <tr>
              <td>
                 <%= ftdebt.debt_apr %>
              </td>
              </tr>
              <% end %> -->
                <%= @monthly_payment %>
        </div>
        <div class="col-md-offset-2 col-md-4"> <%= @totalInterest %> </div>
        <div class="col-md-offset-1 col-md-4">4</div>
        <div class="col-md-offset-2 col-md-4">5</div>
        <div class="col-xs-12">6</div>
    </div>
</div>
